body {
  margin: 0;
  font-family: "Lato", sans-serif;
}
section {
  padding: 30px 15%;
}
@media (width <= 720px) {
  section {
    padding: 30px 10%;
  }
}

/* NAVBAR CSS */
.wrapper {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1.5rem 1.5rem;
}
.logo-hacktiv {
  height: 50px;
  margin-left: 50px;
}
.ul-nav {
  margin-right: 50px;
}
nav .logo {
  font-weight: 700;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}
nav a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 100%;
}
nav #toggle,
nav label {
  display: none;
}
ul:hover li a {
  color: orange;
}
ul:hover li a:not(:hover) {
  color: rgb(0, 0, 0);
  opacity: 0.3;
  filter: blur(1px);
}
/* RESP NAVBAR */
@media (max-width: 40.625em) {
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
  }
  nav label {
    display: inline-flex;
    color: white;
    cursor: pointer;
  }
  nav #toggle:checked ~ .menu {
    height: 100%;
  }
}


/* BLOG CSS */
section{
  background-color: #111111;
}

.h1blog {
  display: grid;
  place-items: center;
  border-bottom: 1px solid;
  color: white
}
.h2blog {
  color: rgb(255, 255, 255)
}
.pblog {
  color: rgb(255, 255, 255)
}
